/.idea
/.git
/data/materials
/data/weibo
/data/corpus.txt
/data/corpus_segmentation.txt
/data/outputs
/materials/corpus_output.txt
output.txt
/draft*
draft*
/identification/outputs
/data/legal_transformation

/ckpt
/ckpt/clf/ernie*
/ckpt/clf/fasttext_simple_adv*
/ckpt/ernie
/ckpt/raw

/data/index/*.idx